{% extends "base.html" %}

{% block content %}

    
    <h1>Weather Page</h1>
    <br>
    <!-- Jinja syntax-->
    <h2>istanbul :{{istanbul}}</h2>
    <br>
    <h3>amsterdam : {{amsterdam}}</h3>
    <ul> 
        {% for item in paris  %}
           <h2> <li> Paris : {{item}} </li></h2>
        {% endfor %}
    </ul>
    <ol>
        {% for key,value in rome.items %}
           <h2> <li> Rome : {{key}} : {{value}} </li> </h2>
        {% endfor %}
    </ol>
        {% if istanbul == "30" %}
            <h2> istanbul : {{istanbul}}</h2>
        {% endif %}
    
     {% for item in paris  %}
        {% if item > 40 %}
            <h2>  Paris : 40 dan büyük {{item}} </h2>
        {% endif %}
           
     {% endfor %}
    <a href=" {% url 'index' %} "> Go To İndex</a>
    
{% endblock %}        
